@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #090b1a;
  margin: 0em 1em;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 75%;
}

.container {
  background-color: #1b1938;
  color: #fff;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 74em;
  /* height: 445px; */
  border-radius: 5px;
}

.stats-side {
  width: 51%;
  height: 100%;
  margin: 50px ;
  font-family: 'Inter', sans-serif;
}

.stats-side h1 {
  font-weight: bolder;
  font-size: 37px;
  margin: 10px 10px 20px 0px;
}

.stats-side h1 span {
  color: #aa5cdb;
}

.stats-side p {
  font-size: 15px;
  line-height: 1.5;
  margin: 10px 40px 10px 0px;
  color: #ffffffbf;
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  gap: 20px;
}

.stats span:first-child {
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.stats span:nth-child(2) {
  font-size: 12px;
  font-weight: 100;
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff99;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img {
  position: relative;
  width: 49%;
  min-height: 100%;
  background-color: #aa5cdb;
  border-radius: 0 5px 5px 0;
}

.img img:nth-child(2) {
  display: none;
}

@media (max-width: 850px) {
  body {
    align-items: flex-start;
    margin: 3em;
  }

  .img img:first-child {
    display: none;
  }
  .img img:nth-child(2) {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
  .img {
    border-radius: 5px 5px 0px 0;
    width: 100%;
  }
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: fit-content;
  }

  .stats-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    /* padding: 20px; */
    width: 100%;
  }

  .stats-side h1 {
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 10px 5px;
  }

  .stats-side p {
    font-size: 15px;
    line-height: 1.6;
    margin: 10px;
  }

  .stats {
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    /* height:fit-content; */
    transform: translateY(0px);
    gap: 0;
  }
  .stats span {
    justify-content: center;
  }
}
